body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

header {
  background-color: #eeeeee;
}

.wrapper {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.divide {
  height: 2px;
  background-color: #eeeeee;
}

.btn {
  display: inline-block;
  width: 140px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: baseline;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
}

.btn:active {
  box-shadow: inset 0 2px 0 0 rgba(0,0,0, 0.15);
}

.red-btn {
  background-color: #fb565a;
}

.red-btn:hover {
  background-color: #d6494d;
}

.red-btn:active {
  background-color: #b63538;
}

.green-btn {
  background-color: #00ca74;
}

.green-btn:hover {
  background-color: #01a25e;
}

.green-btn:active {
  background-color: #009053;
}

.yellow-btn {
  background-color: #efc84a;
}

.yellow-btn:hover {
  background-color: #d6ae2c;
}

.yellow-btn:active {
  background-color: #c09b24;
}

.grey-btn {
  background-color: #f1f1f1;
}

.grey-btn:hover {
  background-color: #e5e5e5;
}

.grey-btn:active {
  background-color: #d5d5d5;
}

.header-top {
  padding-top: 27px;
  padding-bottom: 32px;
  /*background-color: #ccddee;*/
}

.logo {
  width: 150px;   /* почему не влезает, когда 160 */
}

.main-menu {
  width: 725px;
  padding-top: 25px;
  text-align: right;
}

.logo,
.main-menu {
  font-size: 0;
}

.logo,
.main-menu,
.main-menu ul,
.main-menu-item,
.basket {
  display: inline-block;
  vertical-align: middle;
}

.main-menu ul {
  margin: 0;
  padding: 0;
}

.main-menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.main-menu-item {
  width: 115px;
}

.main-menu-item.current a {
  padding-bottom: 5px;
  border-bottom: 2px solid #fb565a;
}

.main-menu-item a:hover {
  color: #fb565a;
}

.main-menu-item a:active {
  color: rgba(129,129,129, 0.4);
}

.basket {
  margin-left: 70px;
  width: 90px;
  /*cursor: pointer;*/
}

.basket a {
  position: relative;
  padding-left: 25px;
}

.basket a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") 0 -10px no-repeat transparent;
}

.basket a:hover {
  color: #fb565a;
}

.basket a:hover::before {
  background: url("../img/sprite.png") 0 -45px no-repeat transparent;
}

.basket a:active {
  color: rgba(129,129,129, 0.4);
}

.basket a:active::before {
  background: url("../img/sprite.png") 0 -80px no-repeat transparent;
}

.header-slider {
  /*padding-bottom: 20px;*/
  margin-bottom: 80px;
}

.header-slider .wrapper {
  position: relative;
}

.slider-content {
  display: none;
  width: 470px;
  min-height: 260px;
  padding-top: 40px;
  padding-right: 410px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background-image: url("../img/slide.png");
  background-position: right -25px;
  background-repeat: no-repeat;
}

.slider-content.current,
.slider-content.active {
  display: block;
}

.slider-content.active[data-number="1"] {
  background-position: right -25px;
}

.slider-content.active[data-number="2"] {
  background-position: right -330px;
}

.slider-content.active[data-number="3"] {
  background-position: right -641px;
}

.slider-content.active ~ .slider-control {
  display: block;
}

.slider-content b {
  display: block;
  /*width: 400px;*/
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}

.slider-content p {
  margin-top: 16px;
  margin-bottom: 27px;
}

.slider-btn {
  width: 240px;
}

.slider-control {
  display: none;
  position: absolute;
  left: 416px;
  bottom: 93px;
}

.slider-control .control-btn.active {
  cursor: default;
}

.control-btn {
  float: left;
  width: 4px;
  height: 4px;
  margin-right: 9px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.control-btn.active {
  background-color: #c1c1c1;
}

.header-title h2 {
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 33px 100px 84px 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.shop {
  font-size: 0;
  margin-bottom: 80px;
}

.shop-item {
  display: inline-block;
  width: 240px;
  padding-top: 132px;
  vertical-align: top;
  font-size: 14px;
  background-image: url("../img/shop.png");
  background-repeat: no-repeat;
}

.shop-item:not(:nth-child(n+3)) {
  margin-right: 80px;
}

.shop-item h3 {
  margin-top: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.shop-item p {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.shop-item.webs {
  background-position: 0 0;
}

.shop-item.apps {
  background-position: -250px 0;
}

.shop-item.cast {
  background-position: -500px 0;
}

.studio {
  margin-top: 60px;
  margin-bottom: 55px;
  font-size: 0;
}

.about {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column-left {
  width: 580px;
  margin-right: 60px;
}

.column-right {
  width: 240px;
}

.about-title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.about-logo {
  text-align: center;
}

.about-logo .divide {
  position: relative;
  margin-top: 30px;
}

.about-logo .divide span {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0 15px;
  text-transform: uppercase;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.about-header {
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.about-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
}

.about-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.portfolio {
  height: 120px;
  padding-top: 40px;
  padding-bottom: 5px;
  font-size: 0;
}

.portfolio-ref {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/ref.png");
  background-repeat: no-repeat;
}

.portfolio-ref.ref1 {
  width: 198px;
  height: 37px;
  margin-left: 10px;
  margin-right: 120px;
  background-position: left 0;
}

.portfolio-ref.ref2 {
  width: 199px;
  height: 68px;
  margin-right: 120px;
  background-position: left -93px;
}

.portfolio-ref.ref3 {
  width: 209px;
  height: 86px;
  background-position: left -241px;
}

.portfolio-ref.ref1:hover,
.portfolio-ref.ref1:active {
  background-position: left -45px;
}

.portfolio-ref.ref2:hover,
.portfolio-ref.ref2:active {
  background-position: left -168px;
}

.portfolio-ref.ref3:hover,
.portfolio-ref.ref3:active {
  background-position: left -335px;
}

.filter-wrapper {
  font-size: 0;
}

.filter-main {
  position: relative;
  display: inline-block;
  margin-right: 80px;
  width: 240px;
  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
}

.filter-main input {
  width: 30%;
  padding: 8px 2px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  color: #000000;
  background-color: #f1f1f1;
}

.filter-header {
  margin-top: 46px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.filter-header:first-child {
  margin-top: 0;
}

.filter-price {
  position: relative;
  margin-bottom: 15px;
  padding: 39px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.price-scale {
  background-color: #d7dcde;
}

.price-bar {
  height: 2px;
  margin-left: 0;
  margin-right: 50px;
  background-color: #00ca74;
}

.bar-min,
.bar-max {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 10px;
  background-color: #ababab;
  cursor: pointer;
  box-shadow: 0 2px 0 0 rgba(0,0,0, 0.14);
}

.bar-min {
  left: 10px;
}

.bar-max {
  right: 60px;
}

.label-min {
  margin-right: 12px;
}

.label-max {
  margin-left: 17px;
  margin-right: 10px;
}

.filter-main input[type="radio"],
.filter-main input[type="checkbox"] {
  display: none;
}

.filter-main input[type="radio"] + label,
.filter-main input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin-bottom: 18px;
  padding-left: 35px;
  cursor: pointer;
}

.filter-main input:disabled + label {
  cursor: default;
}

.filter-main input[type="radio"] + label::before,
.filter-main input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 25px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/sprite.png");
}

.filter-main input[type="radio"] + label::before {
  background-position: 0 -110px;
}

.filter-main input[type="radio"] + label:hover::before {
  background-position: 0 -145px;
}

.filter-main input[type="radio"]:disabled + label::before {
  background-position: 0 -180px;
}

.filter-main input[type="radio"]:checked + label::before {
  background-position: 0 -215px;
}

.filter-main input[type="radio"]:checked + label:hover::before {
  background-position: 0 -250px;
}

.filter-main input[type="radio"]:checked:disabled + label::before {
  background-position: 0 -285px;
}

.filter-main input[type="checkbox"] + label::before {
  background-position: 0 -320px;
}

.filter-main input[type="checkbox"] + label:hover::before {
  background-position: 0 -355px;
}

.filter-main input[type="checkbox"]:disabled + label::before {
  background-position: 0 -390px;
}

.filter-main input[type="checkbox"]:checked + label::before {
  background-position: 0 -425px;
}

.filter-main input[type="checkbox"]:checked + label:hover::before {
  background-position: 0 -460px;
}

.filter-main input[type="checkbox"]:checked:disabled + label::before {
  background-position: 0 -495px;
}

.filter-main .btn-aply {
  margin-top: 38px;
  width: 155px;
  outline: 0;
}

.catalog {                                    /* каталог */
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.catalog-sort {
  margin-top: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.catalog-sort-left,
.catalog-sort-right {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.catalog-sort-left {
  width: 480px;
  /*background-color: #ddd;*/
}

.catalog-sort-right {
  width: 80px;
  text-align: right;
  /*background-color: #aaa;*/
}

.catalog-sort .sort-header,
.catalog-sort .sort-type {
  margin-right: 40px;
  text-decoration: none;
}

.catalog-sort .sort-type {
  border-bottom: 1px dotted #00ca74;
  color: rgba(0,0,0, 0.3);
}

.catalog-sort a[class^="arrow"] {
  display: inline-block;
  vertical-align: baseline;
  font-size: 0;
}

.catalog-sort a[class^="arrow"]::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  font-size: 12px;
  border-right-width: 7px;
  border-left-width: 7px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.catalog-sort .arrow-up::before {
  border: 10px solid #c1c1c1;
  border-top-width: 0px;
}

.catalog-sort .arrow-down::before {
  border: 10px solid #00ca74;
  border-bottom-width: 0px;
}

.catalog-items {
  width: 560px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 80px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 240px;
  margin-bottom: 80px;
  vertical-align: top;
  border-radius: 5px 5px 0 0;
  font-size: 0;
  color: #ffffff;
  background-color: #f1f1f1;
}

.catalog-item::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-left: 13px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 17px 0 #ffffff,
      34px 0 #ffffff;
}

.catalog-item:hover {
  background-color: #797979;
}

.catalog-item:hover .catalog-bay {
  display: block;
}

.catalog-bay {
  position: absolute;
  display: none;
  top: 50px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 30px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.item-name {
  margin-top: 5px;
}

.item-type {
  margin-bottom: 27px;
}

.item-btn {
  width: auto;
  padding: 10px 40px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 18px;
}

.paginator {
  font-size: 16px;
  line-height: 20px;
}

.paginator-btn {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  color: #000000;
  background-color: #f1f1f1;
}

.paginator-btn:disabled {
  /*width: 38px;
  height: 38px;*/
  border: 2px solid #f1f1f1;
  background-color: #ffffff;
}

.paginator-btn.btn-next {
  width: 140px;
}

.map {
  position: relative;
  min-height: 416px;
  margin-top: 85px;
  background-color: #e9e5dc;
}

.map .map-google {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map .wrapper {
  position: relative;
}

.contacts {
  position: absolute;
  top: 88px;
  left: 10px;
  width: 204px;
  padding: 25px 23px 27px 23px;
  color: #000000;
  background-color: #ffffff;
}

.contacts-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.contacts-adr {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.contacts-tel {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.contacts-btn {
  width: 204px;
}

.main-footer {
  height: 140px;
  padding-top: 75px;
  /*background-color: #ccc;*/
}

.social {
  float: left;
  width: 320px;
  height: 63px;
  margin-top: 3px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 62px;
  height: 62px;
  margin-right: 27px;
  border-radius: 35px;
  vertical-align: top;
  color: #000000;
  background-color: #e1e1e1;
  background-image: url("../img/social.png");
  background-repeat: no-repeat;
}

.social-btn.btn-vk {
  background-position: 16px 1px;
}

.social-btn.btn-fb {
  background-position: 16px -65px;
}

.social-btn.btn-ig {
  background-position: 16px -130px;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0, 0.15);
}

.discount h2,
.discount p {
  margin: 0;
}

.discount h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.discount p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.modal.active {
  display: block;
}

@keyframes slide {
  0%   {
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
         -o-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate(0) translate(-50%, -50%);
       -moz-transform: rotate(0) translate(-50%, -50%);
         -o-transform: rotate(0) translate(-50%, -50%);
            transform: rotate(0) translate(-50%, -50%);
  }
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 75px 80px 50px 80px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0, 0.75);

  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  animation: slide 1.5s;
}

.feedback label {
  position: relative;
  /*display: block;*/
}

.feedback .feedback-close {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 26px;
  height: 26px;
  padding: 8px;
  border-radius: 50%;
  background: url("../img/feedback_close.png") center center no-repeat #fb565a;
  cursor: pointer;
}

.feedback-label::before {
  content: attr(data-title);
  position: absolute;
  top: -40px;
  left: 2px;
  font-size: 16px;
}

.feedback-field {
  /*display: block;*/
  width: 188px;
  margin-bottom: 20px;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
}

.feedback-field:hover {
  padding: 6px 14px;
  border: 2px solid #a2a9ac;
}

.feedback-field:focus {
  padding: 6px 14px;
  border: 2px solid #56bffb;
}

.text-layout {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[placeholder="Представьтесь, пожалуйста"] {
  margin-right: 16px;
}

.text-layout label::before {
  top: -165px;
}

.feedback-field.text-field {
  width: 428px;
  min-height: 115px;
  margin-bottom: 24px;
  padding: 7px 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  resize: none;
}

.feedback-field.text-field:hover,
.feedback-field.text-field:focus {
  padding: 6px 14px;
}

.feedback-field.text-field:focus + label::before {
  margin-top: -202px;
}

.feedback-btn {
  width: 460px;
  border: 0;
  outline: 0;
  font-size: 12px;
  line-height: 18px;
}
